{% load static i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Base" %}</title>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
</head>
<body>
<header>
  <div class="logo">
    <span>{% trans "Лого" %}</span>
    <h2>{% trans "Buy and Sell" %}</h2>
  </div>

  <div class="header-right">
    <div class="button-group">

        <div class="button-item">
            <img src="{% static 'icons/statistics.svg' %}" alt="statistics">
            <span>{% trans "Статистика" %}</span>
        </div>

        <div class="divider"></div>

        <div class="button-item">
            <img src="{% static 'icons/favorites.svg' %}" alt="favorites">
            <span>{% trans "Обране" %}</span>
        </div>

        <div class="divider"></div>

        <div class="button-item">
            <img src="{% static 'icons/message.svg' %}" alt="message">
            <span>{% trans "Повідомлення" %}</span>
        </div>

        <div class="divider"></div>

        <div class="button-item">
            <img src="{% static 'icons/basket.svg' %}" alt="basket">
            <span>{% trans "Кошик" %}</span>
        </div>

        <div class="divider"></div>

        <div class="button-item">
            <img src="{% static 'icons/to_compare.svg' %}" alt="to_compare">
            <span>{% trans "Порівняти" %}</span>
        </div>

        <button  class="create-btn">+ {% trans "Створити оголошення" %}</button>
    </div>

    <button class="profile-btn">
      <div class="profile-icon">
        <img src="{% static 'icons/profile.svg' %}" alt="profile_icon">
      </div>
      <p class="profile-name">{{ user.last_name }}<br>{{ user.first_name }}</p>
      <h3 class="profile-balance">{{ user.balance|default:"0.00" }} ₴</h3>
      <img src="{% static 'icons/wallet.svg' %}" alt="wallet-icon">
    </button>
  </div>
    <div>
       <form action="{% url 'set_language' %}" method="post" class="lang-switcher">
  {% csrf_token %}
  <input type="hidden" name="next" value="{{ request.path }}">

  <button type="submit" name="language" value="uk"
          class="flag-btn {% if LANGUAGE_CODE == 'uk' %}active{% endif %}"
          title="Українська">UA</button>

  <button type="submit" name="language" value="en"
          class="flag-btn {% if LANGUAGE_CODE == 'en' %}active{% endif %}"
          title="English">EN</button>

  <button type="submit" name="language" value="de"
          class="flag-btn {% if LANGUAGE_CODE == 'de' %}active{% endif %}"
          title="Deutsch">DE</button>

  <button type="submit" name="language" value="fr"
          class="flag-btn {% if LANGUAGE_CODE == 'fr' %}active{% endif %}"
          title="Français">FR</button>

  <button type="submit" name="language" value="es"
          class="flag-btn {% if LANGUAGE_CODE == 'es' %}active{% endif %}"
          title="Español">ES</button>
</form>
    </div>
</header>

<nav>
  <a href="">{% trans "Всі категорії" %}</a>
  <a href="">{% trans "Категорія 1" %}</a>
  <a href="">{% trans "Категорія 2" %}</a>
  <a href="">{% trans "Категорія 3" %}</a>
  <a href="">{% trans "Категорія 4" %}</a>
  <a href="">{% trans "Категорія 5" %}</a>
</nav>

<main>
  {% block content %}{% endblock %}
</main>

<footer>
  <h6>© 2025 {% trans "Company Name" %}</h6>
  <div>
    <h5>{% trans "About Us" %}</h5>
    <a href=""><h6>{% trans "Company History" %}</h6></a>
    <a href=""><h6>{% trans "Our Team" %}</h6></a>
  </div>
  <div>
    <h5>{% trans "Helpful Links" %}</h5>
    <a href=""><h6>{% trans "FAQs" %}</h6></a>
    <a href=""><h6>{% trans "Support" %}</h6></a>
    <a href=""><h6>{% trans "Live Chat" %}</h6></a>
  </div>
  <div>
    <h5>{% trans "Contact Us" %}</h5>
    <a href="mailto:bns@gmail.com"><h6>bns@gmail.com</h6></a>
    <a href="tel:+3801234567899"><h6>+3801234567899</h6></a>
    <a href=""><h6>{% trans "Ukraine, Zhytomir, Neisnuvanivca" %}</h6></a>
  </div>
  <div>
    <h6>{% trans "All rights reserved." %}</h6>
    <a href=""><h6>{% trans "Terms & Conditions" %}</h6></a>
    <h6>•</h6>
    <a href=""><h6>{% trans "Privacy Policy" %}</h6></a>
  </div>
</footer>
</body>
</html>
