{% extends "base.html" %}
{% load static i18n %}
{% block content %}
  <main>
    <div class="cards-container">
      {% for item in items %}
      <div class="card">
        <img src="{{ item.image }}" alt="{{ item.name }}">
        <div class="card-content">
          <p>{{ item.name }}</p>
          <div class="card-number">{{ item.id }}</div>
          <a class="btn">{% trans "Купити" %}</a>
        </div>
        <div class="card-footer">
          <div class="icons">
            <a href="{% url 'save_item' item.pk item.get_content_type_id %}">
                <span title="{% trans 'Додати в обране' %}">♡</span>
            </a>
            <span title="{% trans 'Коментарі' %}">💬</span>
            <span title="{% trans 'Порівняти' %}">⚖️</span>
          </div>
          <div class="icons">
            <span title="{% trans 'Поділитися' %}">🔗</span>
          </div>
        </div>
      </div>
      {% empty %}
        <p>{% trans "Немає товарів" %}</p>
      {% endfor %}
    </div>
  </main>
{% endblock %}
